In [2]:
import pandas as pd 
import numpy as np

In [3]:
mbti = pd.read_csv("D:\\B.Tech\\BI\\Data\\mbti_1.csv")

In [4]:
mbti.head

<bound method NDFrame.head of       type                                              posts
0     INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1     ENTP  'I'm finding the lack of me in these posts ver...
2     INTP  'Good one  _____   https://www.youtube.com/wat...
3     INTJ  'Dear INTP,   I enjoyed our conversation the o...
4     ENTJ  'You're fired.|||That's another silly misconce...
...    ...                                                ...
8670  ISFP  'https://www.youtube.com/watch?v=t8edHB_h908||...
8671  ENFP  'So...if this thread already exists someplace ...
8672  INTP  'So many questions when i do these things.  I ...
8673  INFP  'I am very conflicted right now when it comes ...
8674  INFP  'It has been too long since I have been on per...

[8675 rows x 2 columns]>

In [5]:
mbti.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8675 entries, 0 to 8674
Data columns (total 2 columns):
type     8675 non-null object
posts    8675 non-null object
dtypes: object(2)
memory usage: 135.7+ KB

In [6]:
mbti.describe()

        type                                              posts
count   8675                                               8675
unique    16                                               8675
top     INFP  'Whew. I almost lost (more) faith in humanity....
freq    1832                                                  1

In [9]:
mbti2=mbti.head(10)
#mbti2[['First','second','Last']] = mbti2.posts.str.split("|||",expand=True) 
mbti2.head(10)

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...
5  INTJ  '18/37 @.@|||Science  is not perfect. No scien...
6  INFJ  'No, I can't draw on my own nails (haha). Thos...
7  INTJ  'I tend to build up a collection of things on ...
8  INFJ  I'm not sure, that's a good question. The dist...
9  INTP  'https://www.youtube.com/watch?v=w8-egj0y8Qs||...

In [31]:
'''foo = lambda x: pd.Series([i for i in reversed(x.str.split('|||'))])
rev = mbti2[['posts']].apply(foo)'''

In [33]:
'''rev['posts']'''

0    [, ', h, t, t, p, s, :, /, /, w, w, w, ., y, o...
1    [, I, ', m,  , n, o, t,  , s, u, r, e, ,,  , t...
2    [, ', I,  , t, e, n, d,  , t, o,  , b, u, i, l...
3    [, ', N, o, ,,  , I,  , c, a, n, ', t,  , d, r...
4    [, ', 1, 8, /, 3, 7,  , @, ., @, |, |, |, S, c...
5    [, ', Y, o, u, ', r, e,  , f, i, r, e, d, ., |...
6    [, ', D, e, a, r,  , I, N, T, P, ,,  ,  ,  , I...
7    [, ', G, o, o, d,  , o, n, e,  ,  , _, _, _, _...
8    [, ', I, ', m,  , f, i, n, d, i, n, g,  , t, h...
9    [, ', h, t, t, p, :, /, /, w, w, w, ., y, o, u...
Name: posts, dtype: object

In [30]:
'''mbti3[['First','Second','Third']]=mbti2['posts'].split('|||',expand=True)'''
#mbti2[['First','second','Last']] = mbti2.posts.str.split("|||",expand=True)

AttributeError: 'Series' object has no attribute 'split'

In [15]:
#mbti3.columns = ['Posts_ID{}'.format(x+1) for x in mbti3.columns]

In [21]:
mbti['posts'].head(2)

0    'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1    'I'm finding the lack of me in these posts ver...
Name: posts, dtype: object